.card {
	display: block;
	height: 100%;
	position: relative;

	&:hover,
	&.active {
		.card {
			&__layer {
				opacity: 1;

				.icon-arrow-right {
					margin-right: 0;
				}
			}
		}
	}

	&__content {
		align-items: center;
		background-color: white;
		border-radius: 8px;
		border: 1px solid $black8;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
		display: flex;
		flex-flow: column wrap;
		font-size: 13px;
		height: 100%;
		padding: 1rem;
		position: relative;
		text-align: initial;
		width: 100%;
	}

	&__ribbon {
		color: #ff337a;
		font-size: 90px;
		justify-content: center;
		margin: -60px 0 10px 0;
		position: relative;
		z-index: 10;

		.inner-text {
			color: white;
			font-size: 14px;
			left: 0;
			line-height: 1;
			margin-top: -7px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
		}
	}

	&__image {
		margin-top: auto;
	}

	&__title,
	&__subtitle {
		font-size: 2em;
		font-weight: 900;
		line-height: 1.4;
		margin: 0 0 5px 0;
	}

	&__title {
		color: $black80;
	}

	&__headline {
		font-size: 1.2em;
		margin: 0;
	}

	&__subtitle {
		color: $blue00;
	}

	&__primary,
	&__actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__actions {
		margin-left: auto;

		.group {
			align-items: center;
			display: inline-flex;
			font-size: 22px;
			justify-content: space-around;
			line-height: normal;
		}

		.link {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&--blue {
		background-color: $primary-color;
		color: $white;

		.link {
			&:hover {
				border-bottom-color: rgba(255, 255, 255, 0.8);
			}

			i {
				color: $white;
				font-weight: normal;
			}
		}
	}

	&--clickable {
		cursor: pointer;
	}

	&--vertical {
		display: flex;
		flex-direction: column;
		height: 100%;

		.card {
			&__content {
				padding: 1rem 0;
			}
		}
	}

	&--timeline {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		padding-left: 20px;
		padding-right: 40px;
		width: 100%;

		.card {
			&__content {
				padding: 1rem 0;
			}

			&__media {
				background-color: $secondary-color;
				padding: 1rem 0 0 1rem;
			}

			&-title {
				color: $blue54;
				text-transform: uppercase;
			}
		}

		&.gd-icon {
			align-items: center;
			color: rgba($primary-color, 0.2);
			font-size: 210px;
			padding-top: 40px;
		}
	}

	&--horizontal {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		.card {
			&__wrapper {
				color: $primary-text-color;
				display: flex;
				flex-direction: row;
				text-decoration: none;
			}

			&__content {
				align-items: center;
				display: flex;
				flex: 1;
				padding: 0 0 0 12px;
			}

			&__media {
				width: 100px;
			}
		}
	}
}

// Responsive carousel
@media (max-width: 1450px) {
}

// Desktops
@media (max-width: 990px) {
}

// Tablets
@media (max-width: 767px) {
	.card {
		&__ribbon {
			font-size: 80px;
			right: -10px;

			.inner-text {
				font-size: 14px;
			}
		}
	}
}

// Nor Mobiles, nor Tablets
@media (max-width: 659px) {
}

// Mobiles
@media (max-width: 575px) {
}
