@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Great+Vibes|Lato:400,700,900|Open+Sans:300,400,600,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Comic+Neue:400,700&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap&subset=latin-ext");
// @import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap&subset=latin-ext');

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"],
[class*="_icon"],
[class*="-icon"] {
	display: block;

	/* use !important to prevent issues with browser extensions that change fonts */
	&:before,
	&:after {
		// display: inline-block;
		display: block;
		font-family: "icomoon";
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		text-transform: none;
		vertical-align: middle;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	// &.emphasis {
	// 	font-size: 2.4em;
	// }

	// &.link {
	// 	&:before {
	// 		margin-right: 8px;
	// 	}

	// 	&:after {
	// 		margin-left: 8px;
	// 	}
	// }
}

.icon {
	&-block,
	&-before,
	&-after {
		&:before {
			display: block;
		}
	}

	&-text {
		display: inline-block;
		vertical-align: middle;
	}
}

.icon-heart-full:before {
	content: "\f004";
}
.icon-star-full:before {
	content: "\f005";
}
.icon-certificate-full:before {
	content: "\f0a3";
}
.icon-cloud-full:before {
	content: "\f0c2";
}
.icon-ribbon:before {
	content: "\e90e";
}
.icon-check:before {
	content: "\e900";
}
.icon-heart:before {
	content: "\e901";
}
.icon-home:before {
	content: "\e902";
}
.icon-map-pin:before {
	content: "\e903";
}
.icon-search:before {
	content: "\e904";
}
.icon-star:before {
	content: "\e905";
}
.icon-thumbs-down:before {
	content: "\e906";
}
.icon-thumbs-up:before {
	content: "\e907";
}
.icon-volume:before {
	content: "\e908";
}
.icon-volume-1:before {
	content: "\e909";
}
.icon-volume-2:before {
	content: "\e90a";
}
.icon-volume-x:before {
	content: "\e90b";
}
.icon-zoom-in:before {
	content: "\e90c";
}
.icon-zoom-out:before {
	content: "\e90d";
}
.icon-heart-line:before {
	content: "\e90f";
}
.icon-cloud-line:before {
	content: "\e911";
}
.icon-star-line:before {
	content: "\e910";
}
.icon-tv-line:before {
	content: "\e912";
}
.icon-settings-line:before {
	content: "\e913";
}
.icon-bulb-line:before {
	content: "\e914";
}
.icon-pen-line:before {
	content: "\e915";
}
.icon-location-line:before {
	content: "\e916";
}
.icon-bubble-line:before {
	content: "\e917";
}
.icon-phone-line:before {
	content: "\e918";
}
.icon-news-line:before {
	content: "\e919";
}
.icon-mail-line:before {
	content: "\e91a";
}
.icon-note-line:before {
	content: "\e91b";
}
.icon-clock-line:before {
	content: "\e91c";
}
.icon-paperplane-line:before {
	content: "\e91d";
}
.icon-music-line:before {
	content: "\e91e";
}
.icon-study-line:before {
	content: "\e91f";
}
.icon-lab-line:before {
	content: "\e920";
}
.icon-clip-line:before {
	content: "\e921";
}
.icon-calendar-line:before {
	content: "\e922";
}
.icon-world-line:before {
	content: "\e923";
}
