body {
	background-color: $primary-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	&::-webkit-scrollbar {
		width: 5px;

		&-track {
			background-color: $black8;
		}

		&-thumb {
			background-color: $primary-color;
			border-radius: 8px;
			padding-right: 3px;
		}
	}

	* {
		&::selection {
			background-color: $selection-color;
			color: $black00;
		}
	}

	&:before,
	&:after {
		background-repeat: no-repeat;
		background-size: contain;
		bottom: 60px;
		content: " ";
		position: absolute;
		top: 0;
		width: 32vw;
	}

	&:before {
		background-image: url("../images/cartoon-doodle-left.png");
		background-position: left bottom;
		left: 0;
	}

	&:after {
		background-image: url("../images/cartoon-doodle-right.png");
		background-position: right bottom;
		right: 0;
	}

	header,
	main,
	footer {
		position: relative;
		z-index: 10;
	}

	&.youwon {
		.main {
			pointer-events: none;
		}

		.congratulations {
			opacity: 1;
			pointer-events: unset;
			z-index: 9999;
		}
	}
}

section {
	display: inline-block;
	padding: 20px 0;
	position: relative;
	width: 100%;

	& + section:not([class]) {
		padding-top: 0;
	}
}

.section {
	&--game {
		margin-left: auto;
		margin-right: auto;
		max-width: 1640px;
		padding-left: 20px;
		padding-right: 20px;

		.row--game {
			background-color: white;
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
			margin: 0;
			padding: 24px 12px;
		}
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1020px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;

	&--small {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}

	&--short {
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;
	}

	&--medium {
		max-width: 880px;
		margin-left: auto;
		margin-right: auto;
	}

	&--larger {
		max-width: 1220px;
		margin-left: auto;
		margin-right: auto;
	}
}

.content {
	&-group {
		margin-bottom: 1.6rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@keyframes infinite-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.congratulations {
	background-color: transparent;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	text-align: center;
	text-decoration: none;
	top: 30%;
	transition: all 0.2s ease-in-out;

	img {
		animation: infinite-spinning 40s infinite linear;
		filter: drop-shadow(20px 50px 120px $primary-color) drop-shadow(0 0 120px $primary-color) drop-shadow(0 0 80px $primary-color);
		transform: rotate(360deg);
		width: 380px;
		position: relative;
		z-index: 9999;
	}

	.inner-text {
		font-weight: 300;
		left: 0;
		margin: -55px 0 0;
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.help {
	margin-bottom: 20px;
}

.divider {
	&-white {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

hr {
	border: medium none;
	height: 1px;
	margin: 20px 0;
}

.mute-audio {
	cursor: pointer;
	color: $primary-color;
	width: 40px;

	&.muted {
		opacity: 0.8;
		color: $secondary-color;
	}
}

// HOME PAGE
.home-page {
	.section {
		&--contact {
			.column--contact {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

// GAME PAGE
.game-page {
	.home-logo {
		height: 100px;
	}
}

// GAME 01
.game01 {
	.spot-1 {
		left: 11%;
		top: 12%;
	}

	.spot-2 {
		left: 3%;
		top: 46%;
	}

	.spot-3 {
		left: 16%;
		top: 76%;
	}

	.spot-4 {
		left: 38%;
		top: 42%;
	}

	.spot-5 {
		left: 37%;
		top: 9%;
	}

	.spot-6 {
		left: 67%;
		top: 9%;
	}

	.spot-7 {
		left: 53%;
		top: 50%;
	}

	.spot-8 {
		left: 69%;
		top: 60%;
	}

	.spot-9 {
		left: 73%;
		top: 32%;
	}

	.spot-10 {
		left: 88%;
		top: 32%;
	}
}

// Large screens
@media (min-width: 1600px) {
}

// Desktops
@media (max-width: 1000px) {
}

// Desktops
@media (max-width: 1200px) {
}

// Laptops
@media (max-width: 1224px) {
	.section {
		&--game {
			.col-md-12 {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

// Laptops
@media (max-width: 991px) {
}

// Tablets
@media (max-width: 767px) {
	.section {
		&--game {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Mobiles
@media (max-width: 659px) {
	.game-page {
		.home-logo {
			height: 80px;
		}
	}
}

// Mobiles
@media (max-width: 575px) {
	// GAME 01
	.game01 {
		.spot-1 {
			left: calc(11% - 2%);
			top: calc(12% - 2%);
		}

		.spot-2 {
			left: calc(3% - 2%);
			top: calc(46% - 2%);
		}

		.spot-3 {
			left: calc(16% - 2%);
			top: calc(76% - 2%);
		}

		.spot-4 {
			left: calc(38% - 2%);
			top: calc(42% - 2%);
		}

		.spot-5 {
			left: calc(37% - 2%);
			top: calc(9% - 2%);
		}

		.spot-6 {
			left: calc(67% - 2%);
			top: calc(9% - 2%);
		}

		.spot-7 {
			left: calc(53% - 2%);
			top: calc(50% - 2%);
		}

		.spot-8 {
			left: calc(69% - 2%);
			top: calc(60% - 2%);
		}

		.spot-9 {
			left: calc(73% - 2%);
			top: calc(32% - 2%);
		}

		.spot-10 {
			left: calc(88% - 2%);
			top: calc(32% - 2%);
		}
	}

	.section {
		&--game {
			.row--game {
				padding: 12px 0;
			}

			.col-md-12 {
				margin-bottom: 12px;
			}
		}
	}
}

@media (max-width: 489px) {
	.congratulations {
		font-size: 11px;

		img {
			width: 320px;
		}
	}
}
